aiorun==2024.5.1
beautifulsoup4==4.12.3
brotli==1.1.0
fuzzywuzzy==0.18.0
guessit==3.8.0
httpx[http2,brotli,zstd]==0.27.0
loguru==0.7.2
nltk==3.8.1
orjson==3.10.3
pydantic==2.7.1
pydantic-settings==2.2.1
rapidfuzz==3.9.0
redis==5.0.4
tenacity==8.3.0
